@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../fonts/ralewaymediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: "OxinWar";
  font-weight: 400;
  src: url("../fonts/OxinWar-oEJA.ttf") format("truetype");
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url("img/loader.gif") no-repeat center center;
  z-index: 9999;
}

.header {
  display: none;
  opacity: 0;
}

.header.fixed {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 47px;
  background-color: #0cf7f7;
  z-index: 1;
  overflow: auto;
}

.header.fixed.active {
  height: 100vh;
}

.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: baseline;
  width: 100%;
  height: 44px;
  background-color: #25333f;
  z-index: 20;
}

.header .header__body .header__burger {
  display: none;
}

@media screen and (max-width: 812px) {
  .header .header__body .header__burger {
    margin-left: 85%;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header .header__body .header__burger::before, .header .header__body .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header .header__body .header__burger span {
    position: absolute;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .header .header__body .header__burger::before {
    top: 0;
  }
  .header .header__body .header__burger::after {
    bottom: 0;
  }
  .header .header__body .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header .header__body .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header .header__body .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.header .header__body .header__nav .header__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

@media screen and (max-width: 812px) {
  .header .header__body .header__nav .header__titles {
    opacity: 0;
    position: absolute;
    z-index: -50;
    top: -150px;
    -webkit-transition: opacity 0.8s ease 1s;
    transition: opacity 0.8s ease 1s;
  }
  .header .header__body .header__nav .header__titles.active {
    opacity: 1;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: 10%;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: opacity 0.8s ease 0.5s;
    transition: opacity 0.8s ease 0.5s;
  }
}

.header .header__body .header__nav .header__titles li {
  list-style: none;
  margin-left: 30px;
}

@media screen and (max-width: 812px) {
  .header .header__body .header__nav .header__titles li {
    margin: 0 0 10% 0;
  }
}

.header .header__body .header__nav .header__titles a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4%;
}

@media screen and (max-width: 812px) {
  .header .header__body .header__nav .header__titles a {
    font-family: "OxinWar", Arial, sans-serif;
    text-transform: none;
    font-size: 40px;
    margin: 0;
  }
}

.preview {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview .preview__video {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 812px) {
  .preview .preview__video {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100vh;
  }
}

.preview .preview__title {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  color: white;
  font-family: "OxinWar", Arial, sans-serif;
}

@media screen and (max-width: 812px) {
  .preview .preview__title {
    font-size: 30px;
  }
}

.preview p {
  margin: 0%;
}

.preview span {
  letter-spacing: 10px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #11d9e0, 0 0 40px #11d9e0, 0 0 50px;
}

.preview button {
  cursor: pointer;
  font-size: 30px;
  color: white;
  background: transparent;
  font-family: "OxinWar", Arial, sans-serif;
  border: 3px solid white;
  border-radius: 10%;
  padding: 1%;
  margin-top: 4%;
  z-index: 1;
  -webkit-animation: rainbow 0.5s ease-in-out infinite alternate;
          animation: rainbow 0.5s ease-in-out infinite alternate;
}

@media screen and (max-width: 812px) {
  .preview button {
    font-size: 25px;
    padding: 2%;
  }
}

@-webkit-keyframes rainbow {
  0% {
    background: #d1d4c0;
  }
  50% {
    background: transparent;
  }
}

@keyframes rainbow {
  0% {
    background: #d1d4c0;
  }
  50% {
    background: transparent;
  }
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.assurances .assurances__item h3, .about_myself .about_myself__desc h3 {
  font-size: 20px;
  color: #6d6969;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.assurances .assurances__item p, .about_myself .about_myself__desc p, .about_myself .about_myself__desc a {
  width: 95%;
  font-size: 16px;
  color: #6d6969;
  font-family: "Raleway", "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: white;
}

.section-title {
  margin-top: 10%;
  text-align: center;
}

@media screen and (max-width: 812px) {
  .section-title {
    margin-top: 30%;
  }
}

.section-title .section-title__title {
  opacity: 0;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #6d6969;
}

.section-title .section-title__title._animation {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.section-title svg {
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  width: 50%;
  margin-top: 4%;
}

.section-title svg._animation {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.section-title svg line {
  stroke: #443e3e;
  stroke-width: 3;
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.assurances {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 5%;
}

.assurances .assurances__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.assurances .assurances__item:nth-child(1) i, .assurances .assurances__item:nth-child(2) i, .assurances .assurances__item:nth-child(3) i, .assurances .assurances__item:nth-child(4) i {
  opacity: 0;
  font-size: 100px;
  color: #0ec5c5;
}

.assurances .assurances__item:nth-child(1) i {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.assurances .assurances__item:nth-child(1) i._animation {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.8s ease 0.1s;
  transition: all 0.8s ease 0.1s;
}

.assurances .assurances__item:nth-child(1) i._animation:hover {
  opacity: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.assurances .assurances__item:nth-child(2) i {
  -webkit-transform: rotate3d(1, 1, 1, 180deg);
          transform: rotate3d(1, 1, 1, 180deg);
}

.assurances .assurances__item:nth-child(2) i._animation {
  opacity: 1;
  -webkit-transform: rotate3d(1, 1, 1, 0deg);
          transform: rotate3d(1, 1, 1, 0deg);
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.assurances .assurances__item:nth-child(2) i._animation:hover {
  opacity: 0;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.assurances .assurances__item:nth-child(3) i {
  -webkit-transform: rotate3d(1, 1, 1, 180deg);
          transform: rotate3d(1, 1, 1, 180deg);
}

.assurances .assurances__item:nth-child(3) i._animation {
  opacity: 1;
  -webkit-transform: rotate3d(1, 1, 1, 0deg);
          transform: rotate3d(1, 1, 1, 0deg);
  -webkit-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
}

.assurances .assurances__item:nth-child(3) i._animation:hover {
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.assurances .assurances__item:nth-child(4) i {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.assurances .assurances__item:nth-child(4) i._animation {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.8s ease 0.7s;
  transition: all 0.8s ease 0.7s;
}

.assurances .assurances__item:nth-child(4) i._animation:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.assurances .assurances__item p {
  text-align: center;
}

.about_myself {
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
}

@media screen and (max-width: 812px) {
  .about_myself {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.about_myself .about_myself__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -5%;
  width: 45%;
}

@media screen and (max-width: 812px) {
  .about_myself .about_myself__desc {
    width: 95%;
  }
}

.about_myself .about_myself__desc .about_myself__photo {
  height: 300px;
  overflow: hidden;
}

.about_myself .about_myself__desc img {
  position: relative;
  bottom: 8%;
  width: 300px;
}

.about_myself .about_myself__desc h3 {
  margin-bottom: -2%;
}

.about_myself .about_myself__desc p {
  margin-bottom: 0;
  text-align: justify;
}

.about_myself .about_myself__desc a {
  text-align: center;
  color: aqua;
}

@media screen and (max-width: 812px) {
  .about_myself .about_myself__desc a {
    margin-bottom: 15%;
  }
}

.about_myself .about_myself__slills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 812px) {
  .about_myself .about_myself__slills {
    width: 100%;
  }
}

.about_myself .about_myself__slills .progress_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  background-color: lightgrey;
  margin-bottom: 5%;
}

.about_myself .about_myself__slills .progress_bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 15px;
  color: #6d6969;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.about_myself .about_myself__slills .progress_bar span {
  color: white;
}

.projects {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */