main {
  position: relative;
  display: flex;
  flex-direction: column;
}

$icon_color: rgb(14, 197, 197);
$text_color: rgb(161, 161, 161);

%h3_text {
  font-size: 20px;
  color: $text_color;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

%p_text {
  width: 95%;
  font-size: 16px;
  color: $text_color;
  font-family: "Raleway", "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.section-title {
  margin-top: 7%;
  text-align: center;

  @media screen and (max-width: 812px) {
    & {
      margin-top: 20%;
    }
  }
  .section-title__title {
    opacity: 0;
    transform: translate(-100%, 0px);
    transition: all 0.8s ease 0.1s;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(109, 105, 105);

    &._animation {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  & svg {
    opacity: 0;
    transition: all 0.8s ease 0.1s;
    transform: translate(100%, 0px);
    width: 50%;
    margin-top: 4%;

    &._animation {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  & svg line {
    stroke: rgb(68, 62, 62);
    stroke-width: 3;
  }
}

.about__content{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.assurances {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  margin: 5%;

  .assurances__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    %li_icon {
      opacity: 0;
      font-size: 100px;
      color: $icon_color;
    }

    &:nth-child(1) i {
      @extend %li_icon;
      transform: translateX(-100%);

      &._animation {
        opacity: 1;
        transform: translateX(0%);
        transition: all 0.8s ease 0.1s;

        &:hover {
          opacity: 0;
          transform: rotate(180deg);
          transition: all 0.8s ease;
        }
      }
    }
    &:nth-child(2) i {
      @extend %li_icon;
      transform: rotate3d(1, 1, 1, 180deg);

      &._animation {
        opacity: 1;
        transform: rotate3d(1, 1, 1, 0deg);
        transition: all 0.8s ease 0.3s;

        &:hover {
          opacity: 0;
          transform: rotate(360deg);
          transition: all 0.5s ease;
        }
      }
    }
    &:nth-child(3) i {
      @extend %li_icon;
      transform: rotate3d(1, 1, 1, 180deg);

      &._animation {
        opacity: 1;
        transform: rotate3d(1, 1, 1, 0deg);
        transition: all 0.8s ease 0.5s;

        &:hover {
          opacity: 0;
          transform: scale(2);
          transition: all 0.5s ease;
        }
      }
    }
    &:nth-child(4) i {
      @extend %li_icon;
      transform: translateX(100%);

      &._animation {
        opacity: 1;
        transform: translateX(0%);
        transition: all 0.8s ease 0.7s;

        @media screen and (max-width: 812px) {
          & {
            transition: all 0.8s ease 0s;
          }
        }

        &:hover {
          transform: scale(2);
          transition: all 0.5s ease;
        }
      }
    }

    & h3 {
      @extend %h3_text;
    }
    & p {
      text-align: center;
      @extend %p_text;
    }
  }
}

.about_myself {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;

  @media screen and (max-width: 812px) {
    & {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .about_myself__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
    width: 45%;

    &._animation {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    
    @media screen and (max-width: 812px) {
      & {
        width: 95%;
      }
    }

    .about_myself__photo {
      height: 300px;
      overflow: hidden;
    }

    & img {
      position: relative;
      bottom: 8%;
      width: 300px;
    }
    & h3 {
      @extend %h3_text;
      margin-bottom: -2%;
    }
    & p {
      @extend %p_text;
      margin-bottom: 0;
      text-align: justify;
    }
    & a {
      @extend %p_text;
      text-align: center;
      color: aqua;

      @media screen and (max-width: 812px) {
        & {
          margin-bottom: 15%;
        }
      }
    }
  }

  .about_myself__slills {
    display: flex;
    flex-direction: column;
    width: 50%;

    &._animation {
      opacity: 1;
      transform: translate(0px, 0px);
    }

    @media screen and (max-width: 812px) {
      & {
        width: 100%;
      }
    }
    .progress_bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30px;
      background-color: lightgrey;
      margin-bottom: 5%;

      & div {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 15px;
        color: $text_color;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
      }
      & span {
        color: white;
      }
    }
  }
}
