%flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contact {
  @extend %flex_column;
  background-color: #252934;
  transition: all 0.8s ease;

  .section-title__title {
    color: aliceblue;
  }
  & svg line {
    stroke: aliceblue;
  }

  .contact__content {
    @extend %flex_column;
    margin: 0 0 7% 0;

    @media screen and (max-width: 812px) {
      & {
        margin: 0 0 36% 0;
      }
    }

    .contact__subtitle {
      margin: 3% 0 2% 0;
      color: #04c2c9;
      font-weight: 600;
      font-size: 12pt;
      font-family: "Raleway";

      @media screen and (max-width: 812px) {
        & {
          margin: 10% 0 10% 0;
        }
      }
    }


    .contact__form {
      @extend %flex_column;
      width: 40%;

      @media screen and (max-width: 812px) {
        & {
          width: 90%;
        }
      }

      & textarea,
      & input {
        font-size: 16px;
        border: none;
        margin: 2px;
        min-width: 100%;
        height: 40px;
        background: #1e242c;
        color: white;
      }

      & textarea {
        height: 170px;
      }

      & .contact__success-alert {
        color: #f2f7f5;
        background-color: #04c986;
        border: 1px solid #157c59;
      }

      & .contact__error-alert {
        color: rgb(230, 182, 182);
        background-color: red;
        border: 1px solid rgb(228, 224, 224);
      }

      %contact_alert {
        position: relative;
        margin: 4px 0;
        min-width: 100%;
        font-size: 16px;
        font-family:'Raleway', Times, serif;
        padding: 1px;
        align-items: center;
        justify-content: center;
        display: none
      }

      & .contact__error-alert,
      & .contact__success-alert {
        @extend %contact_alert;

        &.alert {
          display: flex
        }

        & p {
          width: 80%;
          text-align: center;

          @media screen and (max-width: 812px) {
            & {
              width: 50%;
            }
          }
        }
        & i {
          font-size: 20px;
          position: absolute;
          top: 50;
          right: 20px;

          @media screen and (max-width: 812px) {
            & {
              font-size: 30px;
            }
          }
        }
      }

      .contact__sumbit {
        margin-top: 2%;
        align-self: flex-end;
        display: inline-block;
        min-width: 100px;
        border: 2px white solid;
        padding: 0 40px;

        &:hover {
            background-color: #04c986;
        }
        &:active {
            border: 4px #252934 solid;
        }

        @media screen and (max-width: 812px) {
          & {
            margin-top: 3%;
            align-self: center;
          }
        }
      }
    }
  }
}
