.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(230, 223, 223);
  border: 5px rgb(230, 223, 223) solid;


  .section-title {
    margin-top: 7%;

    @media screen and (max-width: 812px) {
      & {
        margin-top: 20%;
      }
    }
  }

  .projects__content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 15%;

    @media screen and (max-width: 812px) {
      & {
      margin-bottom: 20%;
      width: 100%;
      }
    }



    .projects__groupe {
      opacity: 0;
      transform: translate(100%, 0px) rotateY(180deg) perspective(600px);
      transition: all 1s ease-in-out;
      width: 100%;
      margin: 5% 0 1% 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-template-rows: 250px;
      grid-gap: 2px;

      &._animation {
        opacity: 1;
        transform: translate(0px, 0px) rotateY(0deg) perspective(0px);
      }

      @media screen and (max-width: 812px) {
        & {
          grid-gap: 5px;
        }
      }
      .projects__item {
        position: relative;
        min-width: 100%;
        min-height: 250px;
        border: 1px rgb(71, 71, 71) solid;
        background-color: rgb(230, 223, 223);

        & img {
          position: relative;
          width: 100%;
          height: 100%;
        }

        & .projects__title {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          background-color: rgba(240, 248, 255, 0.9);
          opacity: 0;

          &:hover,
          &:hover h3,
          &:hover a {
            opacity: 1;
            transform: translate(0px, 0px);
          }

          & h3 {
            font-size: 20px;
            color: rgb(71, 71, 71);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            text-align: center;
            opacity: 0;
            transform: translate(0px, -100%);
            transition: all 0.3s ease;

            @media screen and (max-width: 812px) {
              & {
                font-size: 26px;
              }
            }

            & p {
              font-size: 16px;
              color: red;
              font-family: "Raleway", Helvetica, sans-serif;
              font-weight: 400;
              margin-top: 0;

              @media screen and (max-width: 812px) {
                & {
                  font-size: 20px;
                }
              }
            }
          }
          & a {
            text-align: center;
            background-color: transparent;
            color: rgb(71, 71, 71);
            padding: 2% 5%;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            border: 2px solid red;
            opacity: 0;
            transform: translate(0px, 100%);
            transition: all 0.3s ease;

            @media screen and (max-width: 812px) {
              & {
                font-size: 20px;
              }
            }
          }
        }
      }
      .projects__title_center {
        width: 100%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 116, 116, 0.9);
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  z-index: 3;

  &:target {
    opacity: 1;
    visibility: visible;

    & .popup__body .popup__content {
      transform: perspective(0) matrix(1, 0, 0, 1, 0, 0);
      // transform: translate(-0, -0) scale(1, 1) rotateY(0deg);
      opacity: 1;
    }
  }

  .popup__dark-area_close {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      color: black;
      max-width: 60%;
      min-height: 97vh;
      padding: 0 0 30px 0;
      opacity: 1;
      // transform: translate(-380px, -50px) scale(0.8, 0.4) rotateY(80deg);
      transform: matrix(0.1, 0, 0, 0.1, 0, 0);
      transition: all 0.5s ease 0s;

      @media screen and (max-width: 812px) {
        & {
          max-width: 100%;
          min-height: 40vh;
        }
      }
      .popup__close {
        position: absolute;
        right: 20px;
        bottom: 10px;
        font-size: 30px;
        color: rgb(168, 163, 166);

        @media screen and (max-width: 812px) {
          & {
            font-size: 40px;
            right: 20px;
            bottom: 20px;
          }
        }
      }

      .slaider {
        position: relative;
        transition: 0.4s all ease-in-out;
        width: 100%;
        height: 70%;
        overflow: hidden;

        .slaider__img-container {
          display: flex;
          width: 100%;
          height: 100%;
          transition: 0.4s all ease-in-out;

          & img {
            min-width: 100%;
            display: block;
            height: 68vh;
            z-index: -1;

            @media screen and (max-width: 812px) {
              & {
                height: 40vh;
              }
            }
          }
          & video {
            min-width: 100%;
            display: block;
            height: 68vh;
            z-index: -1;

            @media screen and (max-width: 812px) {
              & {
                height: 40vh;
              }
            }
          }
        }
      }

      .slaider__btn_left,
      .slaider__btn_right {
        position: fixed;
        background-color: transparent;
        width: 60px;
        height: 50px;
        cursor: pointer;
        font-size: 25px;
        color: rgb(71, 71, 71);
        border: 3px rgb(71, 71, 71) solid;

        &:hover {
          background-color: rgba(228, 240, 240, 0.9);
        }
      }

      .slaider__btn_left {
        left: 0;
        top: 35%;
      }
      .slaider__btn_right {
        right: 0;
        top: 35%;
      }

      & h2 {
        font-family: OxinWar;
        font-size: 24px;
        margin: 2% 25px;
      }
      .popup__text {
        text-align: justify;
        margin: -1% 25px 1% 25px;

        @media screen and (max-width: 812px) {
          & {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
            color: rgb(71, 71, 71);
          }
        }
      }

      .popup__button {
        margin: 0% 25px;
        width: 100px;
        height: 40px;
        background-color: rgb(240, 15, 127);
        padding: 1%;
        text-align: center;
        text-decoration: none;
        color: aliceblue;
        font-family: OxinWar;
        font-size: 16px;

        @media screen and (max-width: 812px) {
          & {
            margin-top: 4%;
            font-size: 20px;
            width: 50%;
            height: 100%;
          }
        }
      }
    }
  }
}
